{% extends 'TheapiCctvBundle::layout.html.twig' %}

{% block content %}

<div class="block">

  <img src="{{ file }}">

  <p>{{ timestamp }}</p>
</div>

{% endblock %}


{% block sidebar %}

    <section class="widget">
      <h4 class="widgettitle">Images</h4>
      <ul>
        <li><a href="#">AAA</a></li>
        <li><a href="#">BBB</a></li>
        <li><a href="#">CCC </a></li>
      </ul>
    </section>

{% endblock %}

