{% extends 'TheapiCctvBundle::layout.html.twig' %}

{% block content %}

<div class="block">
  <video width="352" height="288" controls>
    <source src="{{ file }}" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>

<h1>Video for  {{ date }}</h1>

{% endblock %}